@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0e3a24;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-geist-sans), sans-serif;
  overflow-x: hidden;
}

/* Custom minimal scrollbar for premium aesthetic */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f9f8f3;
}
::-webkit-scrollbar-thumb {
  background: #3b7a42;
  border-radius: 10px;
}
